:root {
    --primary-cyan:hsl(178, 100%, 50%);
    --primary-soft:hsl(215, 51%, 70%);
 
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
 background-color: hsl(217, 54%, 11%);
 color:#fff;
 display:flex;
 justify-content:center;
 align-items: center;
 height:100vh;
width:1440px;
 overflow-x: hidden;
 font-family: 'Outfit', sans-serif;
 
 
 }
 .main {
    height:500px;
    width:300px;
 
   display:flex;
  
   justify-content: space-around;
   background: hsl(216, 50%, 16%);
   flex-direction: column;
   padding:1rem 1rem;
   border-radius:0.5rem
 }
 .eq-img img {
    height:auto;
    width:100%;
    border-radius:0.5rem
 }
 .main h1 {
    font-size:1.2rem;
    margin-top:0.5rem
    
 
 }
 .main p {
    font-size:1rem;
 color:var(--primary-soft);
    margin-top:0.5rem;
    font-weight: 300;
 }
 .split {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0.5rem;
    margin-bottom:0.5rem
 
 }
 .left {
    color:var(--primary-cyan);
    font-weight: 400;
    display:flex;
    align-items: center;
    gap:0.5rem
   
 }
 .right{
    color:var(--primary-soft);
    font-weight: 300;
    display:flex;
    align-items: center;
    gap:0.2rem
 }
 .creator{display:flex;
    align-items: center;
    gap:1rem;
    margin-top:0.5rem
 
 }
 .creator img {
    height:50px;
    width:50px
 }
 .creator span {
    color:#fff
 }
 hr {
    width:260p ;
 
 }
 .attribution {
    position:absolute;
    top:95%
 }